<h1>
    <div class="one"><img  src="../assets/img/11697.jpg" alt="" width="80px" height="80px"/>Grocery</div>
  </h1>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(151, 168, 185);">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-item nav-link active" style="color: white;" ><i class="bi-house-door"></i> Home</a>
        </li>
    </ul> 
    <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="/payment" routerLinkActive="active" class="nav-link" style="color: white;" >Back</a>
      </li>
  </ul> 
  </nav>
  <br>
  <br><br><br>
  <!-- <div class="container" >
    <div style="margin: left 700px;">
    <div class="card" style="text-align: center;width: 400px;height: 400px;">
      <h2 style="margin-top: 180px;color: green;"><b>Payment Success.....</b></h2>
    </div>
</div>
  </div>
  <br>
  <div class="container">
    <div class="card">

    </div>
  </div> --> 
  <div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Payment Success !</h1>
                <p>A copy of your receipt has been sent to your email </p>
                <button (click)="goHome()" class="btn btn-success">Go to Home</button>
             </div>
             
          </div>
       </div>
    </div>
 </div>
