<h1>
    <div class="one"><img  src="../assets/img/11697.jpg" alt="" width="80px" height="80px"/>Grocery</div>
  </h1>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(151, 168, 185);">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link" style="color: white;" ><i class="bi-house-door"></i> Home</a>
        </li>
    </ul> 
  </nav>

<h1 style="text-align: center;">Add <span style="color: rgb(255, 127, 47);">products</span></h1>
<div class="container">
  <div class="card" style="padding-left: 80px;padding-right: 80px;padding-top: 50px;padding-bottom: 50px;background-color: rgb(250, 206, 139);" >
<form (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="image">Product Image</label>
        <input type="text" class="form-control" id="image" required [(ngModel)]="product.image" name="image"/>
        </div>
        <br>
        <div class="form-group">
        <label for="pName">Product Name</label>
        <input type="text" class="form-control" id="pName" required [(ngModel)]="product.pName" name="pName"/>
        </div>
        <br>
        <div class="form-group">
        <label for="qty">Quantity</label>
        <input type="text" class="form-control" id="qty"  required [(ngModel)]="product.qty" name="qty"/>
       </div>
       <br>
        <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price"/>
       </div>
       <br>
       <button type="submit" class="btn btn-success">Submit</button>
     <!--  <button (click)="getProductbyid(product.pId)"type="button" class="btn btn-success" style="margin-left: 10px;">Add to CpList</button>-->
</form>
</div>
</div>
