<h1>
    <div class="one"><img  src="../assets/img/11697.jpg" alt="" width="80px" height="80px"/>Grocery</div>
  </h1>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(151, 168, 185);">
           
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/add" routerLinkActive="active" class="nav-link" style="color: white;" >Add product</a>
        </li>
    </ul>
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/products" routerLinkActive="active" class="nav-link" style="color: white;" >Go TO Product List</a>
        </li>
    </ul>
<ul class = "navbar-nav">
    <li class = "nav-item">
        <a routerLink="/view" routerLinkActive="active" class="nav-link" style="color: white;" >View Payment</a>
    </li>
   
</ul>
  </nav>
  <div>
      <img src="../assets/img/backgroundimage.jpg" alt="" style="width: 1520px;height: 650px;"/>
</div>