<h1>
    <div class="one"><img  src="../assets/img/11697.jpg" alt="" width="80px" height="80px"/>Grocery</div>
  </h1>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(151, 168, 185);">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link" style="color: white;" ><i class="bi-house-door"></i> Home</a>
        </li>
    </ul> 
  </nav>
  <div>
<p>Grocery on go is India’s largest online supermarket and allows a customer to walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing and shopping for groceries. The company currently operates from Bangalore, Mumbai and Hyderabad and has a diverse portfolio that carries more than 12,000 products and over 1,000 brands.

  The grocery retail market in India is growing at about 10% CAGR and is about USD 400 Billion in size while e-grocery accounts to only 0.1%. Within this the online grocery market is expected to be about USD 10Billion in the next 4 years from now. A majority of this market is likely to be concentrated in the urban cities in the country.
  
  
   
  Back in 2014, there were a number of start-ups such as ZopNow, Aaram-Shop, and Farm2Kitchen in this category with each city having multiple local players. Most of them were not able to sustain due to various business and operational reasons, some which are already well known.
  
  The winner in this category is going to be one who addresses the multiple challenges in delivering a great service to the customer.</p>
  <h2>HomeStartups</h2>
  <p>
    Everything You Wanted To Know About India’s Largest Online Supermarket – Groceryongo.com !
    DIPTI GOREJUNE 14, 2017
    STARTUPSTECH
    FacebookTwitterLinkedInEmailWhatsAppRedditFlipboard
    Groceryongo.com is India’s largest online supermarket and allows a customer to walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing and shopping for groceries. The company currently operates from Bangalore, Mumbai and Hyderabad and has a diverse portfolio that carries more than 12,000 products and over 1,000 brands.
    
    The grocery retail market in India is growing at about 10% CAGR and is about USD 400 Billion in size while e-grocery accounts to only 0.1%. Within this the online grocery market is expected to be about USD 10Billion in the next 4 years from now. A majority of this market is likely to be concentrated in the urban cities in the country.
    
    
     
    Back in 2014, there were a number of start-ups such as ZopNow, Aaram-Shop, and Farm2Kitchen in this category with each city having multiple local players. Most of them were not able to sustain due to various business and operational reasons, some which are already well known.
    
    The winner in this category is going to be one who addresses the multiple challenges in delivering a great service to the customer.</p>
    
    
    <h2>Fab Journey</h2>
    <p>The story of how Grocery on go started is quite interesting and a story of sheer passion and belief in the cause. In 1999, Mr V S Sudhakar, Mr Hari Menon, Mr Vipul Parekh, Mr Abhinay Choudhari  and Mr V S Ramesh started one of the first online businesses in India called Fabmart.com. In 2001, they started an online groceries business as a part of Fabmart.
    
    In spite of the market being in its infancy then, Fabmart.com did exceedingly well. They then went on to setup a physical retail chain called Fabmall which was a chain of grocery supermarkets in the South of India. This business was sold in 2006, and eventually renamed More by the buyers, the Aditya Birla Group. The founders however were always enamoured by online grocery and in 2011, the same team recouped and launched Bigbasket.com.
    
    Business Model
    Today Groceryongo.com is one of the leading online grocers in India. The company bases its success on the three pillars namely exceptional customer focus ( Bigbasket offers same-day delivery across a city, 99.3% on time delivery, 99.5% order fill rate and a no questions asked customer return policy, all of which has contributed to high customer loyalty and excellent customer feedback.
    
    
    Grocery business in India is a 400 billion dollar addressable market of which e-grocery accounts for only 0.1%. Grocery on go continues to scale at a time when many start-ups are cutting down on their operating costs and shutting operations in many geographical locations
    
    On top of it all, Groceryongo compensates a customer every time it is not able to deliver on its promise thus ensuring that there is consistent focus on raising the bar higher.) , wide range and variety of products ( They have more than 40% of their sales coming through their own brands. It operates on a margin of 25% on other products and over 35% for in-house labels.
    
    Grocery on go has further innovated by offering products such as cut fruits and vegetables, a range of recipe mixes and have recently launched their own bakery in Bangalore that delivers bread baked to order  ) and continuous innovation with the help of technology (Grocery on go has both android and iOS mobile apps which allow customers to order groceries on the go. Features such as “Smart-basket” predicts what a customer needs more often and reduces the time-to-order to “within 5 minutes”).</p>
    
    
    <h2>Founders Retail Background</h2>
    <p>Today, the five founder of Grocery on go.com are some of the most experience and well known names in the industry with significant experience of building storng and successful businesses. Mr Hari Menon is now the CEO.
    
    Prior to this Hari was the CEO of Indiaskills, the Vocational Education JV of Manipal Group with City & Guilds, UK. He was also the Co-founder of Fabmall, one of the pioneers in the e-commerce and retail space in India.
    
    Hari has served as the Country Head at Planetasia, one of India’s first Internet services businesses and also worked with IT major Wipro as a Business Head in the Infotech business. Hari is an alumnus of BITS Pilani.
    
    
    Mr V S Sudhakar is the founder and CEO of Fabmall, a leading online and physical retail business. Prior to Grocery on go, Sudhakar was the CEO of Planetasia, the first online focused services business in the country. He has significant experience in general management at senior levels in the IT industry.
    
    Mr Vipul Parekh is the Head of Finance & Marketing at Grocery on go.com. Prior to this Vipul was an investment Director at Peepul Capital, a leading Private Equity Fund. He has also been the Co-Founder of Fabmall and a business development head in the Wipro Infotech Group. Vipul is an alumnus of IIM Bangalore.
    
    Mr  Abhinay Choudhari is the Head of New Initiatives at Grocery on go.com. Prior to this, Abhinay worked with leading IT companies in consulting engagements with key retail majors like Tesco and LEGO across the world. This IIM Ahmedabad alumnus was also the founder of Stylecountry.com.
    
    
    Mr  V S Ramesh is the Head of Logistics & Supply Chain at Bigbasket.com. He was also a Co-founder at Fabmall. Prior to Fabmall, he ran the operations and logistics for a large fleet of ships for a shipping major. He has over 21 years of experience in the Indian Navy handling Operations and Logistics. He holds an Electronics Engineering degree from the Karnataka University.</p>
    
   <h2> Company’s Growth</h2>
    <p>The company had already crossed a million orders delivered. Grocery on go currently operates in over 35 cities and is constantly growing. They deliver around 35000 orders a day  and their average order value is over Rs. 1500/-.
    
    Back in 2014, they were just 3 cities strong and were already processing 5,000 orders a day. Also they were  planning to undergo a significant expansion in their product range, gain more depth in each category and add new categories of products.
    
    
     
    Last June, Bigbasket crossed the 10 million mark in delivered customer orders. Simultaneously, it also delivered more than 1 million orders in the month of May. With their focus on faster delivery times across the board and innovations online and on mobile to make grocery shopping a breeze, the company had delivered a lot to the customers on top of groceries !</p>
  </div>
    
    